# CIT656 - Spring 2021
## Lab 4 - May 02, 2021
1. Lists and list operations.
2. Comparison between strings and lists.
3. Introduction to loops
4. `for` loop in detail.
5. `range()` function.
6. `while` loop in detail.
7. loop control statements (continue, break, else, and pass)
8. tuples 
9. sets

**Tasks**
1. Introduce a point mutation in a DNA sequence string.
2. write a Python script that takes a DNA sequence and print (iteratively) the codons in that sequence. How to handle the sequence if its length is not a multiple of 3?
3. modify your code in part 1 to print, at the end, the extra bases that are not in codon if the length of the DNA sequence is not a multiple of 3.
4. write a python script that takes a protein sequence and prints the unique amino acids in that sequence and percentage of each in the protein sequence.
5. modify your code in part 3 to calculate the isoelectric point of that protein (search for the PI of each AA on Google).

**syntax (structure) and sematics (logic)**.
Commenting in Python 
```python 
# this is a comment 
a = 5

"""
This is a long comment
Line 2 of the comment
"""
```

#### Lists
List in Python is a sequence data trype, meaning that it can have more than one value. They are defined with square brackets `[]` and the elements of the list are separated by commas `,`. The elements of the list can be of any data type; it could even be lists. It's not necessary that all elements are of the same data type. Examine the following examples:

In [2]:
L = [3, 4, 5]
print(L)
print(type(L))

[3, 4, 5]
<class 'list'>

In [3]:
L = [1, 3.14, "No", True]
print(L)
print(type(L))

[1, 3.14, 'No', True]
<class 'list'>

There are two ways to create empty list:
1. by using empty square brackets
```python
L = []
```
2. by using the `list()` function.
```python
L = list()
```

Indexing and subscription of the elements of a list follows the same rules as strings in Python. Try the follwoing examples:

In [4]:
L[0]

1

In [5]:
L[-2]

'No'

In [6]:
L[::-1]

[True, 'No', 3.14, 1]

In [7]:
L[1:3]

[3.14, 'No']

In [8]:
type(L[2])

str

The `len()` function can be used to get the length of a list.

In [9]:
len(L)

4

To change any element in the list, a simple variable assignemt with index can be used as follows:

In [10]:
L[0] = 15
print(L)

[15, 3.14, 'No', True]

#### List Operations

| method | function |
| :---- | :------- |
| `.clear()` | Removes all the elements in the list |
| `.index(i)` | Returns the index of the first element with the specified value in the list | 
| `.count(v)` | Returns the number of elements with the specified value in the list |
| `.insert(i,v)` | Adds an element at the specified position in the list |
| `.pop(i)` | Removes the element at the specified position in the list |
| `.remove(v)` | Removes the first item with the specified value in the list |
| `.reverse()` | Reverses the order of the list |
| `.sort()` | Sorts the list elements |
| `.append(v)` | Adds an element at the end of the list |
| `.extend(l)` | Add the elements of a list (or any iterable), to the end of the current list | 

Try the following examples.

Note that **Lists are the only data type in Python that changes when used in any operation**. To better understamd this point, run the following commands and compare them to lists. Also, I highly recomment using [Python Tutor](http://pythontutor.com/visualize.html) for code visualization. Try creating a list and changing an element in that list and see how the computer do that without re-assigning to the same variable. Try also to do the same but with integers, floats, and strings. You can use the below code as a guide
```python
L = [1,2,3,4]
print(L)
L.append(5)
print(L)
# note that it's not L = L.append(5)

L2 = L
print(L)
print(L2)
L[0] = 10
print(L)
print(L2)
# Notice how both changed

a = 3
print(a)
b = a
b = b + 3
print(a)
# Notics that only b changed but not a
```

In [11]:
nums = [1, 2, 3, 4]
print(nums)
print(len(nums))

[1, 2, 3, 4]
4

In [12]:
nums.append(5)
print(nums)
print(len(nums))

[1, 2, 3, 4, 5]
5

In [13]:
nums.append([6,7,8])
print(nums)
print(len(nums))

[1, 2, 3, 4, 5, [6, 7, 8]]
6

In [14]:
print(nums[5])
print(type(nums[5]))

[6, 7, 8]
<class 'list'>

In [15]:
print(nums[5][0])

6

In [16]:
nums.pop()

[6, 7, 8]

In [17]:
print(nums)

[1, 2, 3, 4, 5]

In [18]:
nums.pop(1)

2

In [19]:
print(nums)

[1, 3, 4, 5]

In [20]:
nums.remove(1)

In [21]:
print(nums)

[3, 4, 5]

Note that no output was returned from the `remove()` method.
(Always remeber, no output doesn't mean that there's an error, this method just doesn't return anything. Same as the `print()` function)

In [22]:
a = print("Hi")
print(a)
print(type(a))

Hi
None
<class 'NoneType'>

In [23]:
nums.extend([6,7,8])
print(nums)
print(len(nums))

[3, 4, 5, 6, 7, 8]
6

In [24]:
nums.index(5)

2

In [25]:
nums.index([5])

ValueError: [5] is not in list

In [26]:
nums.count(1)

0

In [27]:
nums.insert(1,2)

In [28]:
print(nums)

[3, 2, 4, 5, 6, 7, 8]

In [29]:
nums[5]

7

In [30]:
nums.reverse()

In [31]:
print(nums)

[8, 7, 6, 5, 4, 2, 3]

In [32]:
nums.sort()

In [33]:
print(nums)

[2, 3, 4, 5, 6, 7, 8]

In [34]:
nums.clear()

In [35]:
print(nums)
print(len(nums))

[]
0

In [37]:
L = [6, 2, 5, 4]
L.sort(reverse=True)
L

[6, 5, 4, 2]

In [39]:
L = [6, 2, 5, 4]
L.sort()
L.reverse()
L

[6, 5, 4, 2]

In [40]:
L.sort().reverse() ## You canoot use multiplt methods on the same line!

AttributeError: 'NoneType' object has no attribute 'reverse'

**Task**

Let's revist the strings again. Imagine we have the following DNA sequence `DNA = "ATTCGACTCGTCGATTGCGAATAT"` and we want to produce a point mutation at the characer at index 5 with `A` instead of `G` How can we do that in strings?

In [41]:
DNA = "ATTCGACTCGTCGATTGCGAATAT"
print(DNA[5])

A

In [42]:
DNA[5] = "G"

TypeError: 'str' object does not support item assignment

In [43]:
first = DNA[:5]
first

'ATTCG'

In [44]:
second = DNA[6:]
second

'CTCGTCGATTGCGAATAT'

In [46]:
DNA_mut = first + "G" + second ## concatenation
print(DNA, DNA_mut, sep="\n")

ATTCGACTCGTCGATTGCGAATAT
ATTCGGCTCGTCGATTGCGAATAT

there are two string methods that can be used to concert from string to list and from list to string, namely:

| method | function |
| :----- | :------- |
| `.split()` | to convert from `string` to `list` |
| `.join()` | to convert from `list` to `string` |

They are used as follows:

```python
L = s.split(c)   ## to split a string (s) on the character (c) and the output is a list (L)
s = "c".join(L)  ## to join the elements of a list (L) with charcter (c) as separator and the output is a string (s)
```

In [47]:
seq = "ATTCGACTCGTCGATTGCGAATAT"
seq_list = seq.split()
print(seq_list)
# when no argument is given, the spli is made on the white-space characters

['ATTCGACTCGTCGATTGCGAATAT']

In [48]:
seq_list = seq.split("A")
print(seq_list)

['', 'TTCG', 'CTCGTCG', 'TTGCG', '', 'T', 'T']

In [49]:
seq_list = list(seq)
print(seq_list)

['A', 'T', 'T', 'C', 'G', 'A', 'C', 'T', 'C', 'G', 'T', 'C', 'G', 'A', 'T', 'T', 'G', 'C', 'G', 'A', 'A', 'T', 'A', 'T']

In [50]:
seq_2 = ".".join(seq_list)
print(seq_2)

A.T.T.C.G.A.C.T.C.G.T.C.G.A.T.T.G.C.G.A.A.T.A.T

In [51]:
seq_3 = str(seq_list)
print(seq_3)
print(type(seq_3))

['A', 'T', 'T', 'C', 'G', 'A', 'C', 'T', 'C', 'G', 'T', 'C', 'G', 'A', 'T', 'T', 'G', 'C', 'G', 'A', 'A', 'T', 'A', 'T']
<class 'str'>

In [52]:
seq_3[0]

'['

In [53]:
"".join(seq_list)

'ATTCGACTCGTCGATTGCGAATAT'

Given that, **strings are immutable** (you can't change the value of a chracter in a string by simple assignment expression) and **lists are mutable**, can you think now of a better way to do the point mutation task? 
(I highly encirage that you do a comparison between lists and strings)

#### Flow Control - part II (Loops)
Another way to control the flow of code excustion is by using loops where a block of code is excuted multiple times. There two main types of loops in Python: 
1. `for` loop; where the block of code is excuted n times (a given number of iterations)
2. `while` loop; where the block of code is excuted as long as some condition is true, when that condition evaluates to `False`, Python interpreter exits the loop.

#### For loop
They are usually used to iterate over sequence data types using a dummy variable. The general form is:
```python
for val in sequence:
    code block
```
Let's use the code visualizer for better understanding.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

Here, `fruit` is a dummy variable. This means that it's a variable whose value changes every iteration. In the first iteration, the variable `fruit` is assigned the value of the first element of the list `fruits` (`fruit = apple`). Inside the loop, the the value of the variable `fruit` is prented. Because this is the end of the loop block, the iteration ends and the next iteration begins by reassigning the variable `fruit` to the second value inside the list. This happens untill all values in the list are used for iterations and there are no more items. the Python interpreter exits the loop at this point. Let's try other types of sequence data types.

In [ ]:
DNA = "ACAGTCGACTAGCTTGCACGTAC"
for base in DNA:
    print(base*2)

In [ ]:
for i in range(5):
    print(i)

`range()` is a python function that returns an iteratable object that can used to iterate over with numbers. 
The range function can take 1, 2, or 3 arguments. `range(start, stop, step)`. They are similar to the subsription with strings and lists. Note that the separator is a comma `,` not a colon `:`.

To visualize this in another way, run the follwoing example.

In [ ]:
print(list(range(5)))

#### While loop
While loops repeats the block of code until the condition given doesn'e evaluate to `True` any more. In other words, the code block is excuted "while `True`"
```python
while condition:
    code block
```
![](https://cdn.programiz.com/sites/tutorial2program/files/whileLoopFlowchart.jpg)

In [ ]:
 i = 0
while i < 5:
    print(i)
    i += 1

**Task**: what is the sum of the numbers from 1 to 9?

#### Expressions with loops
There are 4 expressions that are commonly used with loops to control their operation:
1. `else` statement is used to do something when the loop is finished. 
2. `break` statement is used to break out of the loop when reached.
3. `continue` statement is used to skip the rest of the current iteration and go directrly to the next iteration. 
4. `pass` statement. It has no function. The interpreter passes it. It's usually used by developers as a place older to prevent python from raising errors before writing any code.

In [ ]:
nums = [0, 1, 5]

for i in nums:
    print(i)
else:
    print("All list items are used.\nWe're out othe loop now!")

In [ ]:
i = 1
while i <= 5:
    print(i)
    if i == 3:
        break;
    i += 1

In [ ]:
i = 1
while i <= 5:
    print(i)
    if i == 3:
        continue;
    i += 1

In [ ]:
for i in range(7):
    pass

### Tuples
Tuples in Python are immutable data type. It look like lists with items ordered and indixed but once created they can't be modified. Tuples can have mixed datatypes. An empty tuple can be created with `tuple()` function or using the empty parantheses `()`, or without using anything.

In [ ]:
empty_tuple = ()
print(empty_tuple)

empty_tuple_2 = tuple()
print(empty_tuple_2)


tuple_num = (1, 2, 3)
print(tuple_num)

tuple_mixed = (1, "Hello", 3.4)
print(tuple_mixed)

tuple_mixed_2 = ("mouse", [8, 4, 6], (1, 2, 3))
print(tuple_mixed_2)

another_tuple = 3.15, 5.6
print(another_tuple)

In [ ]:
print(len(empty_tuple))
print(len(empty_tuple_2))
print(len(tuple_num))
print(len(tuple_mixed))
print(len(tuple_mixed_2))
print(len(another_tuple))

Indexing and slicing of tuples is similar to strings and lists (positive ane negative indixing).

In [ ]:
print(tuple_mixed[1])

In [ ]:
tuple_mixed[2] = 5.16

Tuples are immutable. However, if there's a list inside the tuples, items inside the nested list can be modified.

In [ ]:
tuple_list = (1, 2, 3, [6, 5])
print(tuple_list)
tuple_listp[3][0] = 4   ## notice the mixed indexing
print(tuple_list)

In [ ]:
## assigning the values of a tuple to variables 
a, b = another_tuple
print(a)
print(b)

In [ ]:
## create a tuple with 1 item
print(type(another_tuple))
new_tuple = (0)
print(type(new_tuple))

In [ ]:
new_tuple = (0,)
print(type(new_tuple))

Tuples methods:

| Method | Description |
| :----- | :---------- |
| `.count()` | count the number of occurences of a value inside the tuple. |
| `.index()` | Returns the index of the first occurence of a given value in the tuple.|

#### Sets
Sets are unordered (no-indexing) datatype that doesn't allow repetition of elemets (cannot have two elements of the same value). Sets are mutable (can be modified after creation).

Sets can be defined either by curely brackets `{}` or by the `set()` function. Note that curely brackets cannot be used to create empty set.

In [ ]:
# set of integers
my_set = {1, 2, 3}
print(my_set)
print(type(my_set))

# no repetition 
my_set = {1, 2, 3, 4, 3, 2}
print(my_set)

In [ ]:
# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

In [ ]:
# set cannot have mutable items (no lists inside a set)
my_set = {1, 2, [3, 4]}

In [ ]:
my_set = {}
type(my_set)

In [ ]:
my_set = set()
type(my_set)

Set metods: 

| Method | Description |
| :----- | :---------- |
| `.add()` | to add an elemet to the set |
| `.update()` | to add multiple elements to the set at once |
| `.remove()` |  to remove an element from the set |
| `.discard()` | to remove an element from the set without raising an error if the element was not found. |
| `.pop()` | returns and removes a random element from the set |
| `.clear()` | remove all elements from the set | 

More about sets can be found here >> https://www.programiz.com/python-programming/set

### Task Time!
1. write a Python script that takes a DNA sequence and print (iteratively) the codons in that sequence. How to handle the sequence if its length is not a multiple of 3?
2. modify your code in part 1 to print, at the end, the extra bases that are not in codon if the length of the DNA sequence is not a multiple of 3.
3. write a python script that takes a protein sequence and prints the unique amino acids in that sequence and percentage of each in the protein sequence.
4. modify your code in part 3 to calculate the isoelectric point of that protein (search for the PI of each AA on Google).