# CIT656 - Spring 2021
## Lab 2 - April 18, 2021

**Contents**
1. Logical operators, comparisons, and boolean data types.
2. Strings and string operations and methods

**lab tasks**
1. Central dogma, part I: Transcription
2. Reverse complement
3. AT and GC content

### Logical operators, comparisons, and boolean data-type
One of the easiest yet powerful operations that can be done using Python is logical operations (comparing two values together). The logical operators are:
* `>` greater than 
* `<` less than
* `>=` greater than or equal
* `<=` less than or equal
* `==` is equal
* `!=` not equal
An example could be as follows:
```python
5 >= 3
```
You can think of this statement as a question: Is 5 greater than or equal to 3? 
The answer should be either "yes" or "no". In Python words, the answer is either `True` or `False`. These are the only two values of the `Boolean` data type (usually abbreviated as `bool`). Note that `True` and `False` are case sensetive too.

Try the following examples:

In [1]:
5 >= 3

True

In [2]:
6 < 3

False

In [3]:
3 == 3

True

In [4]:
5 != 5

False

In [5]:
type(True)

bool

In [6]:
type(False)

bool

In [16]:
type(true)

NameError: name 'true' is not defined

To make complex comparisons (comparisons made of multiple conditions/operators), the following logical operators are used:
* `and` or `&` --> means that the net statement is true only if all conditions are true.
* `or` or `|` --> means that the net stetement is true when any of the conditions is true.
* `not` or `!` --> for negating the statement. 

Try the following examples:

In [8]:
5 > 3 & 2 <= 1

False

In [12]:
(5 > 3) & (5 < 4)

False

In [20]:
True & False

False

In [24]:
not False

True

In [26]:
int(True)

1

In [27]:
int(False)

0

In [28]:
bool(1)

True

In [29]:
bool(0)

False

In [30]:
bool(5)

True

All possible results are summarized in the following truth table
![Truth table](https://upload.wikimedia.org/wikipedia/commons/4/4a/Truth_table_for_AND%2C_OR%2C_and_NOT.png "Truth table")
Another way to represent boolean values is by integers: `True` is represented as 1 and `False` is represented as 0.

### Strings in Python
String in Python are defined by either single quotes `'` or double quotes `"`, the important thing is to start and end the string with the same symbol. Try the following examples:

In [35]:
print("Hello, worled")

Hello, worled

In [36]:
print('Hello, Ruwaa!')

Hello, Ruwaa!

In [38]:
print("She said 'yes'")

She said 'yes'

In [39]:
print('He said "No"')

He said "No"

In [40]:
print("this is double quote \"")

this is double quote "

In [41]:
print('this is single quote \'')

this is single quote '

There are some special characters in Python strings

| Character | Meaning |
|:----|:----|
| `\t` | tab |
| `\n` | new line |
| `\'` | single quote |
| `\"` | double quote |
| `\\` | back slash |


Strings in Python are case sensetive. This means that `a` is not the same as `A`. Try the following example.

In [44]:
print("column A\tColumn B\n\\")

column A	Column B
\

In [45]:
'a' == 'A'

False

### Strings indexing and  subscription
The characters of a string in Python are numbered from 0 up to stringlength -1.

![strings indexing](https://3.bp.blogspot.com/-sLHL8zUQ8DM/XSGGcncqaoI/AAAAAAAABfw/EK5G6TqMowUZ66W3RUNXnqRyhnb-UvCBgCLcBGAs/s1600/Python%2BString%2Bindex.png)

To slice part of the string we use square brackets `[]`. 
Try the following examples:

In [66]:
s = "ATCGAAGGGCTATGACGAGTCCCTAACGCGCGTAAA"

In [51]:
s[0]

'A'

In [55]:
s[1:7]

'TCGAAG'

In [67]:
s[::3]

'AGGCTCGCAGCA'

The notations is as follows

`string[start:stop:step]`

For example, `s[1:4]` can be read as **starting from `1`, up to but not including `4`**. This returns the characters at indices 1, 2, and 3 only. the character at index 4 is not returned. 

The step indicates the increament of the index between the returned indices. For instance, `s[1:6:2]` will return the characters at indices 1, 3, and 5. 

Note that the defaults of the start is `0`, end is `-1` or the last index, and step is `1`. This values is used when no value is given at its place. 
For instance, `s[::]` means from the beginning, to the end, with step 1. 

What happens when the step is negative? How should we provide the indices of the start and the end? 
Try the following examples.

In [69]:
s

'ATCGAAGGGCTATGACGAGTCCCTAACGCGCGTAAA'

In [68]:
s[::-1]

'AAATGCGCGCAATCCCTGAGCAGTATCGGGAAGCTA'

In [70]:
s[7:1:-1]

'GGAAGC'

In [71]:
s[1:7:-1]

''

In [72]:
s_r = s[::-1]

In [73]:
print(s)
print(s_r)

ATCGAAGGGCTATGACGAGTCCCTAACGCGCGTAAA
AAATGCGCGCAATCCCTGAGCAGTATCGGGAAGCTA

What is the difference between the last two examples? What is the error raised? and Why?

**Task:** How to get the reverse of DNA sequence?

`len()` function when given a string, it return the length of that string.

Try the following example:

In [74]:
len(s)

36

In [75]:
s[36]

IndexError: string index out of range

In [77]:
s[len(s)]

IndexError: string index out of range

In [79]:
s[35]

'A'

In [80]:
s[-1]

'A'

**String Methods**
A method is a function that works on a sprecific data type only. Functions in Python are defined by parantheses `()` following the function name. For instance, the `print()` function, and the `math.sqrt()` function from the math module. 

There are some functions that operates on strings only; they're known as **string methods**. The most known string methods and there usage are as follows:

| method | usage |
| :-----: | :----- |
| `count()` | counts the number of occurences of a character/substring in the string |
| `upper()` | capatilizes the letters in the string |
| `lower()` | converts the letter to small-case letters |
| `find()` | returns the index of the first oocurence of a chracter/substring in the string |
| `rfind()` | returns the index of the first oocurence of a chracter/substring in the string starting the string in reverse order (from right-to-left) |
| `startswith()` | returns `True/False` whether the string starts with a specific character/substring |
| `endswith()` | returns `True/False` whether the string ends with a specific character/substring |
| `replace()` | replaces all the occurences of a chracter/substring with another character/substring |
| `strip()` | removes a specific charcter from both ends of the string. The default vlaue is white-space charcters.|
| `rstrip() - lstrip()` | removes a specific charcter from either the beginning or the ending of the string. The default vlaue is white-space charcters.|

Try the following examples:

In [81]:
s.count("A")

11

In [82]:
s.count("GC")

3

In [83]:
s.count("G") + s.count("C")

19

In [84]:
s.count(G)

NameError: name 'G' is not defined

In [86]:
TA = "TA"
s.count(TA)

3

In [89]:
s.lower()

'atcgaagggctatgacgagtccctaacgcgcgtaaa'

In [90]:
"hello".upper()

'HELLO'

In [91]:
s.find("A")

0

In [92]:
s

'ATCGAAGGGCTATGACGAGTCCCTAACGCGCGTAAA'

In [98]:
s.find("a")

-1

In [99]:
s.rfind("A")

35

In [101]:
s.rfind("a")

-1

In [103]:
s.rfind("T")

32

In [108]:
s.rfind("ATG")

11

In [109]:
s.find("ATG")

11

In [112]:
s.find("AT")

0

In [113]:
s.find("AT", 1, len(s))

11

In [114]:
s.find("AT", 12, len(s))

-1

In [115]:
s.count("AT")

2

In [110]:
s.startswith("T")

False

In [111]:
s.endswith("A")

True

In [116]:
s

'ATCGAAGGGCTATGACGAGTCCCTAACGCGCGTAAA'

In [129]:
s.replace("T", "U")

'AUCGAAGGGCUAUGACGAGUCCCUAACGCGCGUAAA'

In [130]:
s.replace("A","")

'TCGGGGCTTGCGGTCCCTCGCGCGT'

In [127]:
"   Hello\t"

'   Hello\t'

In [125]:
"   Hello\t".strip()

'Hello'

In [121]:
s.strip("A")

'TCGAAGGGCTATGACGAGTCCCTAACGCGCGT'

In [122]:
s.rstrip("A")

'ATCGAAGGGCTATGACGAGTCCCTAACGCGCGT'

In [123]:
s.lstrip("A")

'TCGAAGGGCTATGACGAGTCCCTAACGCGCGTAAA'

How to get the complement of DNA sequence? (**Hint**: Python strings are case sensetive)

**Addition and multiplication of strings**

In [131]:
"AT" + "GC"

'ATGC'

In [133]:
"AT" * "GC"

TypeError: can't multiply sequence by non-int of type 'str'

In [134]:
"AT" * 5

'ATATATATAT'

**lab tasks**
1. Central dogma, part I: Transcription
2. Reverse complement
3. AT and GC content

In [138]:
## transcription from DNA to RNA
DNA = "ATCGAAGGGCTATGACGAGTCCCTAACGCGCGTAAA"
RNA = DNA.replace("T", "U")

print(DNA, RNA, sep="\n")

ATCGAAGGGCTATGACGAGTCCCTAACGCGCGTAAA
AUCGAAGGGCUAUGACGAGUCCCUAACGCGCGUAAA

In [145]:
## Reverse complement
DNA = "ATCGAAGGGCTATGACGAGTCCCTAACGCGCGTAAA"
DNA_r = DNA[::-1]
DNA_r_c = DNA_r.replace("A", "t")
DNA_r_c = DNA_r_c.replace("T", 'a')
DNA_r_c = DNA_r_c.replace("G", "c")
DNA_r_c = DNA_r_c.replace("C", "g")
DNA_r_c = DNA_r_c.upper()
print(DNA_r_c)

TTTACGCGCGTTAGGGACTCGTCATAGCCCTTCGAT

In [146]:
## Reverse complement - method #2
DNA = "ATCGAAGGGCTATGACGAGTCCCTAACGCGCGTAAA"
DNA_rc = DNA[::-1].replace("A", "t").replace("T", 'a').replace("G", "c").replace("C", "g").upper()
print(DNA, DNA_rc, sep="\n")

ATCGAAGGGCTATGACGAGTCCCTAACGCGCGTAAA
TTTACGCGCGTTAGGGACTCGTCATAGCCCTTCGAT

### Good websites to search for Python functions / learn Python
1. Geeksforgeeks >> https://www.geeksforgeeks.org/
2. Programize >> https://www.programiz.com/
3. W3schools >> https://www.w3schools.com/