# CIT656 - Spring 2021
## Lab 4 - May 02, 2021
1. Lists and list operations.
2. Comparison between strings and lists.
3. Introduction to loops
4. `for` loop in detail.
5. `range()` function.
6. `while` loop in detail.
7. loop control statements (continue, break, and pass)
8. tuples 
9. sets

**Tasks**
1. write a Python script that takes a DNA sequence and print (iteratively) the codons in that sequence. How to handle the sequence if its length is not a multiple of 3?
2. modify your code in part 1 to print, at the end, the extra bases that are not in codon if the length of the DNA sequence is not a multiple of 3.
3. write a python script that takes a protein sequence and prints the unique amino acids in that sequence and percentage of each in the protein sequence.
4. modify your code in part 3 to calculate the isoelectric point of that protein (search for the PI of each AA on Google).
5. Introduce a point mutation in a DNA sequence string.

#### Lists
List in Python is a sequence data trype, meaning that it can have more than one value. They are defined with square brackets `[]` and the elements of the list are separated by commas `,`. The elements of the list can be of any data type; it could even be lists. It's not necessary that all elements are of the same data type. Examine the following examples:

In [2]:
L = [3, 4, 5]
print(L)
print(type(L))

[3, 4, 5]
<class 'list'>

In [3]:
L = [1, 3.14, "No", True]
print(L)
print(type(L))

[1, 3.14, 'No', True]
<class 'list'>

There are two ways to create empty list:
1. by using empty square brackets
```python
L = []
```
2. by using the `list()` function.
```python
L = list()
```

Indexing and subscription of the elements of a list follows the same rules as strings in Python. Try the follwoing examples:

In [4]:
L[0]

1

In [5]:
L[-2]

'No'

L[::-1]

In [9]:
L[1:3]

[3.14, 'No']

In [11]:
type(L[2])

str

The `len()` function can be used to get the length of a list.

In [13]:
len(L)

4

To change any element in the list, a simple variable assignemt with index can be used as follows:

In [ ]:
L[0] = 15
print(L)

#### List Operations

| method | function |
| :---- | :------- |
| `.clear()` | Removes all the elements in the list |
| `.index(i)` | Returns the index of the first element with the specified value in the list | 
| `.count(v)` | Returns the number of elements with the specified value in the list |
| `.insert(i,v)` | Adds an element at the specified position in the list |
| `.pop(i)` | Removes the element at the specified position in the list |
| `.remove(v)` | Removes the first item with the specified value in the list |
| `.reverse()` | Reverses the order of the list |
| `.sort()` | Sorts the list elements |
| `.append(v)` | Adds an element at the end of the list |
| `.extend(l)` | Add the elements of a list (or any iterable), to the end of the current list | 

Try the following examples.

Note that **Lists are the only data type in Python that changes when used in any operation**. To better understamd this point, run the following commands and compare them to lists. Also, I highly recomment using [Python Tutor](http://pythontutor.com/visualize.html) for code visualization. Try creating a list and changing an element in that list and see how the computer do that without re-assigning to the same variable. Try also to do the same but with integers, floats, and strings. You can use the below code as a guide
```python
L = [1,2,3,4]
print(L)
L.append(5)
print(L)
# note that it's not L = L.append(5)

L2 = L
print(L)
print(L2)
L[0] = 10
print(L)
print(L2)
# Notice how both changed

a = 3
print(a)
b = a
b = b + 3
print(a)
# Notics that only b changed but not a
```

In [2]:
nums = [1, 2, 3, 4]
print(nums)
print(len(nums))

[1, 2, 3, 4]
4

In [3]:
nums.append(5)
print(nums)
print(len(nums))

[1, 2, 3, 4, 5]
5

In [4]:
nums.append([6,7,8])
print(nums)
print(len(nums))

[1, 2, 3, 4, 5, [6, 7, 8]]
6

In [5]:
print(nums[5])
print(type(nums[5]))

[6, 7, 8]
<class 'list'>

In [6]:
print(nums[5][0])

6

In [7]:
nums.pop()

[6, 7, 8]

In [8]:
print(nums)

[1, 2, 3, 4, 5]

In [13]:
nums.pop(1)

2

In [14]:
print(nums)

[1, 3, 4, 5, 6, 7, 8]

In [17]:
nums.remove(1)

In [18]:
print(nums)

[2, 3, 4, 5, 6, 7, 8]

Note that no output was returned from the `remove()` method.
(Always remeber, no output doesn't mean that there's an error, this method just doesn't return anything. Same as the `print()` function)

In [22]:
a = print("Hi")
print(a)
print(type(a))

Hi
None
<class 'NoneType'>

In [9]:
nums.extend([6,7,8])
print(nums)
print(len(nums))

[1, 2, 3, 4, 5, 6, 7, 8]
8

In [10]:
nums.index(5)

4

In [11]:
nums.index([5])

ValueError: [5] is not in list

In [12]:
nums.count(1)

1

In [15]:
nums.insert(1,2)

In [16]:
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
nums.reverse()

In [20]:
print(nums)

[8, 7, 6, 5, 4, 3, 2]

In [21]:
nums.sort()

In [ ]:
print(nums)

In [23]:
nums.clear()

In [25]:
print(nums)
print(len(nums))

[]
0