# CIT656 - Spring 2021
## Lab 5 - May 09, 2021

**Content**

1. Introduction to loops
2. `for` loop in detail.
3. `range()` function.
4. `while` loop in detail.
5. loop control statements (continue, break, else, and pass)
6. tuples 
7. sets

**Tasks**

1. write a Python script that takes a DNA sequence and print (iteratively) the codons in that sequence. How to handle the sequence if its length is not a multiple of 3?
2. modify your code in part 1 to print, at the end, the extra bases that are not in codon if the length of the DNA sequence is not a multiple of 3.
3. write a python script that takes a protein sequence and prints the unique amino acids in that sequence and percentage of each in the protein sequence.
4. modify your code in part 3 to calculate the isoelectric point of that protein (search for the PI of each AA on Google).

#### Flow Control - part II (Loops)
Another way to control the flow of code excustion is by using loops where a block of code is excuted multiple times. There two main types of loops in Python: 
1. `for` loop; where the block of code is excuted n times (a given number of iterations)
2. `while` loop; where the block of code is excuted as long as some condition is true, when that condition evaluates to `False`, Python interpreter exits the loop.

#### For loop
They are usually used to iterate over sequence data types using a dummy variable. The general form is:
```python
for val in sequence:
    code block
```
Let's use the code visualizer for better understanding.

In [1]:
fruits = ["apple", "banana", "cherry"]
for hamada in fruits:
    print(hamada)

apple
banana
cherry

Here, `fruit` is a dummy variable. This means that it's a variable whose value changes every iteration. In the first iteration, the variable `fruit` is assigned the value of the first element of the list `fruits` (`fruit = apple`). Inside the loop, the the value of the variable `fruit` is prented. Because this is the end of the loop block, the iteration ends and the next iteration begins by reassigning the variable `fruit` to the second value inside the list. This happens untill all values in the list are used for iterations and there are no more items. the Python interpreter exits the loop at this point. Let's try other types of sequence data types.

In [2]:
DNA = "ACAGTCGACTAGCTTGCACGTAC"
for base in DNA:
    print(base*2)

AA
CC
AA
GG
TT
CC
GG
AA
CC
TT
AA
GG
CC
TT
TT
GG
CC
AA
CC
GG
TT
AA
CC

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [6]:
print(range(5))
print(type(range(5)))

range(0, 5)
<class 'range'>

`range()` is a python function that returns an iteratable object that can used to iterate over with numbers. 
The range function can take 1, 2, or 3 arguments. `range(start, stop, step)`. They are similar to the subsription with strings and lists. Note that the separator is a comma `,` not a colon `:`.

To visualize this in another way, run the follwoing example.

In [7]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [8]:
list(range(2,8))

[2, 3, 4, 5, 6, 7]

In [9]:
list(range(1,9,3))

[1, 4, 7]

In [10]:
DNA[1:9:2]

'CGCA'

#### While loop
While loops repeats the block of code until the condition given doesn't evaluate to `True` any more. In other words, the code block is excuted "while `True`"
```python
while condition:
    code block
```
![](https://cdn.programiz.com/sites/tutorial2program/files/whileLoopFlowchart.jpg)

In [11]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

**Task**: what is the sum of the numbers from 1 to 9?

In [15]:
x = 1 
y = 0
while x <= 9:
    y = y + x
    x = x + 1
print(x)
print(y)

10
45

In [17]:
y = 0
for x in range(1,10):
    y += x
print(y)

45

#### Expressions with loops
There are 4 expressions that are commonly used with loops to control their operation:
1. `else` statement is used to do something when the loop is finished. 
2. `break` statement is used to break out of the loop when reached.
3. `continue` statement is used to skip the rest of the current iteration and go directrly to the next iteration. 
4. `pass` statement. It has no function. The interpreter passes it. It's usually used by developers as a place older to prevent python from raising errors before writing any code.

In [18]:
nums = [0, 1, 5]

for i in nums:
    print(i)
else:
    print("All list items are used.\nWe're out othe loop now!")

0
1
5
All list items are used.
We're out othe loop now!

In [19]:
nums = [0, 1, 5]

for i in nums:
    print(i)

print("All list items are used.\nWe're out othe loop now!")

0
1
5
All list items are used.
We're out othe loop now!

In [20]:
i = 1
while i <= 5:
    print(i)
    if i == 3:
        break;
    i += 1

1
2
3

In [ ]:
i = 1
while i <= 5:
    print(i)
    if i == 3:
        continue;
    i += 1

In [22]:
for i in range(7):
    pass

### Tuples
Tuples in Python are immutable data type. It look like lists with items ordered and indixed but once created they can't be modified. Tuples can have mixed datatypes. An empty tuple can be created with `tuple()` function or using the empty parantheses `()`, or without using anything.

In [23]:
empty_tuple = ()
print(empty_tuple)

empty_tuple_2 = tuple()
print(empty_tuple_2)


tuple_num = (1, 2, 3)
print(tuple_num)

tuple_mixed = (1, "Hello", 3.4)
print(tuple_mixed)

tuple_mixed_2 = ("mouse", [8, 4, 6], (1, 2, 3))
print(tuple_mixed_2)

another_tuple = 3.15, 5.6
print(another_tuple)

()
()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))
(3.15, 5.6)

In [24]:
print(len(empty_tuple))
print(len(empty_tuple_2))
print(len(tuple_num))
print(len(tuple_mixed))
print(len(tuple_mixed_2))
print(len(another_tuple))

0
0
3
3
3
2

Indexing and slicing of tuples is similar to strings and lists (positive ane negative indixing).

In [25]:
print(tuple_mixed[1])

Hello

In [26]:
tuple_mixed[2] = 5.16

TypeError: 'tuple' object does not support item assignment

Tuples are immutable. However, if there's a list inside the tuples, items inside the nested list can be modified.

In [28]:
tuple_list = (1, 2, 3, [6, 5])
print(tuple_list)
tuple_list[3][0] = 4   ## notice the mixed indexing
print(tuple_list)

(1, 2, 3, [6, 5])
(1, 2, 3, [4, 5])

In [34]:
## assigning the values of a tuple to variables 
a, b = another_tuple
print(a)
print(b)
print(type(a))

3.15
5.6
<class 'float'>

In [33]:
print(another_tuple)
a = another_tuple[0]
b = another_tuple[1]
print(a)
print(b)

print(type(a))

(3.15, 5.6)
3.15
5.6
<class 'float'>

In [30]:
## create a tuple with 1 item
print(type(another_tuple))
new_tuple = (0)
print(type(new_tuple))

<class 'tuple'>
<class 'int'>

In [35]:
new_tuple = (0,)
print(type(new_tuple))

<class 'tuple'>

Tuples methods:

| Method | Description |
| :----- | :---------- |
| `.count()` | count the number of occurences of a value inside the tuple. |
| `.index()` | Returns the index of the first occurence of a given value in the tuple.|

**other operators with tuples**

| operator | description |
| :------- | :---------- |
| tup1 `+` tup2 | concatenate two tuples|
| tup `*` num | repeate tuple items a number of times |

Try the following example.

In [37]:
tup2 = tuple_num + new_tuple
print(tup2)

(1, 2, 3, 0)

In [38]:
tup3 = tup2 * 5 
print(tup3)

(1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0)

In [39]:
[1,2,3]*5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

#### Sets
Sets are unordered (no-indexing) datatype that doesn't allow repetition of elemets (cannot have two elements of the same value). Sets are mutable (can be modified after creation).

Sets can be defined either by curely brackets `{}` or by the `set()` function. Note that curely brackets cannot be used to create empty set.

In [40]:
# set of integers
my_set = {1, 2, 3}
print(my_set)
print(type(my_set))

# no repetition 
my_set = {1, 2, 3, 4, 3, 2}
print(my_set)

{1, 2, 3}
<class 'set'>
{1, 2, 3, 4}

In [41]:
# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1.0, 'Hello', (1, 2, 3)}

In [42]:
# set cannot have mutable items (no lists inside a set)
my_set = {1, 2, [3, 4]}

TypeError: unhashable type: 'list'

In [44]:
my_set = {}
type(my_set)

dict

In [43]:
my_set = set()
type(my_set)

set

**Set metods:**

| Method | Description |
| :----- | :---------- |
| `.add()` | to add an elemet to the set |
| `.update()` | to add multiple elements to the set at once |
| `.remove()` |  to remove an element from the set |
| `.discard()` | to remove an element from the set without raising an error if the element was not found. |
| `.pop()` | returns and removes a random element from the set |
| `.clear()` | remove all elements from the set | 

**Other sets operations**

| Operation | operator |
| :----- | :---------- |
| union | `A \| B` or `A.union(B)` or `B.union(A)`|
| intersection | `A & B` or `A.intersection(B)` or `B.intersection(A)` |
| difference | `A - B` or `B - A` or `A.difference(B)` or `B.difference(A)`|
| symmetric difference | `A ^ B` or `A.symmetric_difference(B)` or `B.symmetric_difference(A)`|

symmetric difference (exclusive; unoin - intersection; difference between union and intersection)

More about sets can be found here >> https://www.programiz.com/python-programming/set

### Task Time!
1. write a Python script that takes a DNA sequence and print (iteratively) the codons in that sequence. How to handle the sequence if its length is not a multiple of 3?
2. modify your code in part 1 to print, at the end, the extra bases that are not in codon if the length of the DNA sequence is not a multiple of 3.
3. write a python script that takes a protein sequence and prints the unique amino acids in that sequence and percentage of each in the protein sequence.
4. modify your code in part 3 to calculate the isoelectric point of that protein (search for the PI of each AA on Google).

In [ ]:
DNA = "ACAGTCGACTAGCTTGCACGTAC"
DNA[0:3]
DNA[3:6]
DNA[6:9]

In [55]:
for i in range(0,len(DNA),3):
    codon = DNA[i:i+3]
    if len(codon) % 3 == 0:
        print(codon)
    else:
        print("not codon:", codon)

ACA
GTC
GAC
TAG
CTT
GCA
CGT
not codon: AC

In [49]:
for i in range(0,len(DNA)//3,1):
    codon = DNA[i*3:i*3+3]
    print(codon)

ACA
GTC
GAC
TAG
CTT
GCA
CGT

In [50]:
for i in range(0,len(DNA)//3*3,3):
    codon = DNA[i:i+3]
    print(codon)

ACA
GTC
GAC
TAG
CTT
GCA
CGT

In [52]:
codons = []
for i in range(0,len(DNA)//3*3,3):
    codon = DNA[i:i+3]
    codons.append(codon)
    
print(codons)

['ACA', 'GTC', 'GAC', 'TAG', 'CTT', 'GCA', 'CGT']

In [56]:
codons = []
for i in range(0,len(DNA)//3*3,3):
    codons.append(DNA[i:i+3])
print(codons)

['ACA', 'GTC', 'GAC', 'TAG', 'CTT', 'GCA', 'CGT']

In [57]:
codons = [DNA[i:i+3] for i in range(0,len(DNA)//3*3,3)]
print(codons)

['ACA', 'GTC', 'GAC', 'TAG', 'CTT', 'GCA', 'CGT']

```python
[expression for item in sequence]
```