# CIT656 - Spring 2021
## Lab 4 - May 02, 2021
1. Lists and list operations.
2. Comparison between strings and lists.
3. Introduction to loops
4. `for` loop in detail.
5. `range()` function.
6. `while` loop in detail.
7. loop control statements (continue, break, and pass)
8. tuples 
9. sets

**Tasks**
1. Introduce a point mutation in a DNA sequence string.
2. write a Python script that takes a DNA sequence and print (iteratively) the codons in that sequence. How to handle the sequence if its length is not a multiple of 3?
3. modify your code in part 1 to print, at the end, the extra bases that are not in codon if the length of the DNA sequence is not a multiple of 3.
4. write a python script that takes a protein sequence and prints the unique amino acids in that sequence and percentage of each in the protein sequence.
5. modify your code in part 3 to calculate the isoelectric point of that protein (search for the PI of each AA on Google).

#### Lists
List in Python is a sequence data trype, meaning that it can have more than one value. They are defined with square brackets `[]` and the elements of the list are separated by commas `,`. The elements of the list can be of any data type; it could even be lists. It's not necessary that all elements are of the same data type. Examine the following examples:

In [ ]:
L = [3, 4, 5]
print(L)
print(type(L))

In [ ]:
L = [1, 3.14, "No", True]
print(L)
print(type(L))

There are two ways to create empty list:
1. by using empty square brackets
```python
L = []
```
2. by using the `list()` function.
```python
L = list()
```

Indexing and subscription of the elements of a list follows the same rules as strings in Python. Try the follwoing examples:

In [ ]:
L[0]

In [ ]:
L[-2]

In [ ]:
L[::-1]

In [ ]:
L[1:3]

In [ ]:
type(L[2])

The `len()` function can be used to get the length of a list.

In [ ]:
len(L)

To change any element in the list, a simple variable assignemt with index can be used as follows:

In [ ]:
L[0] = 15
print(L)

#### List Operations

| method | function |
| :---- | :------- |
| `.clear()` | Removes all the elements in the list |
| `.index(i)` | Returns the index of the first element with the specified value in the list | 
| `.count(v)` | Returns the number of elements with the specified value in the list |
| `.insert(i,v)` | Adds an element at the specified position in the list |
| `.pop(i)` | Removes the element at the specified position in the list |
| `.remove(v)` | Removes the first item with the specified value in the list |
| `.reverse()` | Reverses the order of the list |
| `.sort()` | Sorts the list elements |
| `.append(v)` | Adds an element at the end of the list |
| `.extend(l)` | Add the elements of a list (or any iterable), to the end of the current list | 

Try the following examples.

Note that **Lists are the only data type in Python that changes when used in any operation**. To better understamd this point, run the following commands and compare them to lists. Also, I highly recomment using [Python Tutor](http://pythontutor.com/visualize.html) for code visualization. Try creating a list and changing an element in that list and see how the computer do that without re-assigning to the same variable. Try also to do the same but with integers, floats, and strings. You can use the below code as a guide
```python
L = [1,2,3,4]
print(L)
L.append(5)
print(L)
# note that it's not L = L.append(5)

L2 = L
print(L)
print(L2)
L[0] = 10
print(L)
print(L2)
# Notice how both changed

a = 3
print(a)
b = a
b = b + 3
print(a)
# Notics that only b changed but not a
```

In [ ]:
nums = [1, 2, 3, 4]
print(nums)
print(len(nums))

In [ ]:
nums.append(5)
print(nums)
print(len(nums))

In [ ]:
nums.append([6,7,8])
print(nums)
print(len(nums))

In [ ]:
print(nums[5])
print(type(nums[5]))

In [ ]:
print(nums[5][0])

In [ ]:
nums.pop()

In [ ]:
print(nums)

In [ ]:
nums.pop(1)

In [ ]:
print(nums)

In [ ]:
nums.remove(1)

In [ ]:
print(nums)

Note that no output was returned from the `remove()` method.
(Always remeber, no output doesn't mean that there's an error, this method just doesn't return anything. Same as the `print()` function)

In [ ]:
a = print("Hi")
print(a)
print(type(a))

In [ ]:
nums.extend([6,7,8])
print(nums)
print(len(nums))

In [ ]:
nums.index(5)

In [ ]:
nums.index([5])

In [ ]:
nums.count(1)

In [ ]:
nums.insert(1,2)

In [ ]:
print(nums)

In [ ]:
nums.reverse()

In [ ]:
print(nums)

In [ ]:
nums.sort()

In [ ]:
print(nums)

In [ ]:
nums.clear()

In [ ]:
print(nums)
print(len(nums))

**Task**

Let's revist the strings again. Imagine we have the following DNA sequence `DNA = "ATTCGACTCGTCGATTGCGAATAT"` and we want to produce a point mutation at the characer at index 5 with `A` instead of `G` How can we do that in strings?

there are two string methods that can be used to concert from string to list and from list to string, namely:

| method | function |
| :----- | :------- |
| `.split()` | to convert from `string` to `list` |
| `.join()` | to convert from `list` to `string` |

They are used as follows:

```python
L = s.split(c)   ## to split a string (s) on the character (c) and the output is a list (L)
s = "c".join(L)  ## to join the elements of a list (L) with charcter (c) as separator and the output is a string (s)
```

In [ ]:
seq = "ATTCGACTCGTCGATTGCGAATAT"
seq_list = seq.split()
print(seq_list)
# when no argument is given, the spli is made on the white-space characters

In [ ]:
seq_list = seq.split("A")
print(seq_list)

In [ ]:
seq_list = list(seq)
print(seq_list)

In [ ]:
seq_2 = ".".join(seq_list)
print(seq_2)

In [ ]:
seq_3 = str(seq_list)
print(seq_3)
print(type(seq_3))

Given that, **strings are immutable** (you can't change the value of a chracter in a string by simple assignment expression) and **lists are mutable**, can you think now of a better way to do the point mutation task? 
(I highly encirage that you do a comparison between lists and strings)